In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT fac.name AS Facility_Name, SUM( 
CASE WHEN book.memid =0
THEN fac.guestcost * book.slots
ELSE fac.membercost * book.slots
END ) AS tot_rev
FROM Facilities fac
JOIN Bookings book ON fac.facid = book.facid
GROUP BY 1 
HAVING tot_rev <1000
ORDER BY 2 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

### ^^ Question 10 and setup

### Question 11 - Produce a report of members and who recommended them in alphabetic surname,firstname order

In [30]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.surname || ', ' || m.firstname as member_name, m2.surname || ', ' || m2.firstname as recommender
FROM Members m
LEFT JOIN Members m2 ON m.memid = m2.recommendedby
WHERE m.surname != 'GUEST'
ORDER BY recommender
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()


#concat doesn't seem to work in Jupyter - Google says to use || instead

2.6.0
2. Query all tasks
('Dare, Nancy', None)
('Boothe, Tim', None)
('Owen, Charles', None)
('Baker, Anne', None)
('Smith, Jack', None)
('Pinker, David', None)
('Mackenzie, Anna', None)
('Coplin, Joan', None)
('Sarwin, Ramnaresh', None)
('Jones, Douglas', None)
('Rumney, Henrietta', None)
('Farrell, David', None)
('Worthington-Smyth, Henry', None)
('Tupperware, Hyacinth', None)
('Hunt, John', None)
('Crumpet, Erica', None)
('Smith, Darren', None)
('Stibbons, Ponder', 'Bader, Florence')
('Stibbons, Ponder', 'Baker, Anne')
('Farrell, Jemima', 'Baker, Timothy')
('Rownam, Tim', 'Boothe, Tim')
('Smith, Darren', 'Butters, Gerald')
('Baker, Timothy', 'Coplin, Joan')
('Smith, Tracy', 'Crumpet, Erica')
('Joplette, Janice', 'Dare, Nancy')
('Butters, Gerald', 'Genting, Matthew')
('Purview, Millicent', 'Hunt, John')
('Joplette, Janice', 'Jones, David')
('Jones, David', 'Jones, Douglas')
('Smith, Darren', 'Joplette, Janice')
('Smith, Darren', 'Mackenzie, Anna')
('Smith, Darren', 'Owen, Charles')
('Farrell, Jemima', 'Pinker, David')
('Smith, Tracy', 'Purview, Millicent')
('Genting, Matthew', 'Rumney, Henrietta')
('Bader, Florence', 'Sarwin, Ramnaresh')
('Smith, Darren', 'Smith, Jack')
('Tracy, Burton', 'Stibbons, Ponder')
('Smith, Tracy', 'Worthington-Smyth, Henry')

### Question 12 - Find the facilities with their usage by member, but not guests

In [26]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, SUM(b.slots)
FROM Bookings b
INNER JOIN Facilities f ON f.facid = b.facid
WHERE b.memid != 0
GROUP BY b.facid

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', 957)
('Tennis Court 2', 882)
('Badminton Court', 1086)
('Table Tennis', 794)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Squash Court', 418)
('Snooker Table', 860)
('Pool Table', 856)

### Question 13 - Produce a report of members and who recommended them in alphabetic surname,firstname order

In [25]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, b.starttime, (SUM(b.slots) * .5) AS hours_per_month
FROM Bookings b
INNER JOIN Facilities f on f.facid = b.facid
WHERE b.memid != 0
GROUP BY b.facid

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tennis Court 1', '2012-07-04 09:00:00', 478.5)
('Tennis Court 2', '2012-07-07 08:30:00', 441.0)
('Badminton Court', '2012-07-05 09:30:00', 543.0)
('Table Tennis', '2012-07-03 11:00:00', 397.0)
('Massage Room 1', '2012-07-03 08:00:00', 442.0)
('Massage Room 2', '2012-07-11 17:00:00', 27.0)
('Squash Court', '2012-07-04 15:30:00', 209.0)
('Snooker Table', '2012-07-03 19:00:00', 430.0)
('Pool Table', '2012-07-03 10:00:00', 428.0)